.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoImg{
    margin-left: 50px;
}

.mainText{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: 20px;
}
