.container{
    text-align: center;
    width: 100%;
    height: 100%;
}

.component{
    width: 61vw;
    height: 31vw;
    background-color: #FFFFFF;
    z-index: 10;
    border: 1px solid #000000;
    border-radius: 20px;
    margin: 0 auto;
    padding: 60px 80px 80px 65px;
}

.title{
    font-family: 'SA Thousand';
    line-height: 3;
    font-size: 27px;
    letter-spacing: 0.08em;
}

.text{
    font-family: "Jura", sans-serif;
    line-height: 1.1;
    letter-spacing: 0.08em;
    font-size: 18px;
    width: 50%;
    margin: 0 auto 40px;
}

.input{
    /* width: 36%; */
    color: #000;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;

    flex-grow: 1;
}

.gridContainer{
    width: 45vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 22px 40px 22px 140px;
    gap: 20px;
    justify-items: stretch;
}

.item{
    display: flex;
    width: 100%;
    align-items: baseline;
    font-size: 18px;
    letter-spacing: 0.08em;
}

.itemcontact{
    grid-column: 1/3;
    display: flex;
    width: 100%;
    font-size: 18px;
    letter-spacing: 0.08em;
}

.itemmassage{
    display: flex;
    font-size: 18px;
    letter-spacing: 0.08em;
    width: 100%;
}

.gridItem1{
    grid-column: 1/2;
}

.gridItem2{
    grid-column: 2/3;
}

.gridItem3{
    grid-column: 1/2;
}

.gridItem4{
    grid-column: 1/3;
}

.gridItem5{
    grid-column: 1/3;
    
}

.background{
    background-color: black;
    width: 100%;
    height: 36vh;
    position: absolute;
    bottom: 0;
    z-index: -2;
}