@import-normalize;

@keyframes loading {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-359deg);
  }
}

@font-face {
  font-family: 'SA Thousand';
  src: url('../fonts/SAThousandRegular.eot');
  src: local('SA Thousand'), local('SAThousandRegular'),
      url('../fonts/SAThousandRegular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SAThousandRegular.woff2') format('woff2'),
      url('../fonts/SAThousandRegular.woff') format('woff'),
      url('../fonts/SAThousandRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SA Thousand';
  src: url('../fonts/SAThousandMedium.eot');
  src: local('SA Thousand Medium'), local('SAThousandMedium'),
      url('../fonts/SAThousandMedium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SAThousandMedium.woff2') format('woff2'),
      url('../fonts/SAThousandMedium.woff') format('woff'),
      url('../fonts/SAThousandMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SA Thousand';
  src: url('../fonts/SAThousandLight.eot');
  src: local('SA Thousand Light'), local('SAThousandLight'),
      url('../fonts/SAThousandLight.eot?#iefix') format('embedded-opentype'),
      url('../fonts/SAThousandLight.woff2') format('woff2'),
      url('../fonts/SAThousandLight.woff') format('woff'),
      url('../fonts/SAThousandLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* @import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap'); */

body {
 font-family: sans-serif;
 line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
 margin: 0;
}

ul,
ol {
 margin: 0;
 padding: 0;
}

img {
 display: block;
 max-width: 100%;
 height: auto;
}

.active {
	font-weight: bold;
}