@import-normalize;
@font-face {
  font-family: "banknuelined";
  src: url("/fonts/Bank-typeface/banknue-lined-webfont.woff") format("woff");
  src: url("/fonts/Bank-typeface/banknue-lined-webfont.woff2") format(("woff2"));
}

@font-face {
  font-family: "banknuesectioned";
  src: url("/fonts/Bank-typeface/banknue-sectioned-webfont.woff") format("woff");
  src: url("/fonts/Bank-typeface/banknue-sectioned-webfont.woff2") format(("woff2"));
}

@font-face {
  font-family: "SAThousand-Light";
  src: url("/fonts/Thousand-Extra-Wide-Sans-Serif/SAThousand-Light.woff") format("woff");
}

@font-face {
  font-family: "SAThousand-Medium";
  src: url("/fonts/Thousand-Extra-Wide-Sans-Serif/SAThousand-Medium.woff") format("woff");
}

@font-face {
  font-family: "SAThousand";
  src: url("/fonts/Thousand-Extra-Wide-Sans-Serif/SAThousand.woff") format("woff");
}

body {
 font-family: sans-serif;
 line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
 margin: 0;
}

ul,
ol {
 margin: 0;
 padding: 0;
}

img {
 display: block;
 max-width: 100%;
 height: auto;
}